{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/steuerung.css') }}">

<h1>{% block title %} Steuerung {% endblock %}</h1>
<!--<div class="form-group">
    <button class="btn" id="bigButton" onclick="this.blur();">Start</button>
    
    <button type="button" onclick="submitForm()">Submit</button>
</div>-->

<form method="POST">
	<label for="countdown">Start des Countdown:</label>
	<input type="text" id="countdown" name="countdown"><br><br>
	<label for="lrate">Learning Rate:</label>
	<input type="text" id="lrate" name="lrate"><br><br>
	<label for="dfactor">discount_factor:</label>
	<input type="text" id="dfactor" name="dfactor"><br><br>
</form>

<div class="container">
    <h1>Robot Control</h1>
    <button class="btn btn-primary" id="startButton" onclick="this.blur()">Start Robot</button> <!--; submitForm()-->
    <button class="btn btn-danger" id="stopButton" onclick="this.blur();">Stop Robot</button>
    <p>Robot Data: <span id="robotData">No data yet</span></p>
  </div>
  
<h1>ROS Text Field Update</h1>
    <input type="text" id="rosTextField" value="Initial Value">

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script>
    document.getElementById('startButton').addEventListener('click', function() {
		var countdownValue = document.getElementById('countdown').value;
		var lrateValue = document.getElementById('lrate').value;/*, 'learningRate=' + encodeURIComponent(lrateValue)*/
		var dfactorValue = document.getElementById('dfactor').value;
      fetch('/start', { method: 'POST',
			headers: {
				'Content-Type': 'application/x-www-form-urlencoded'
			},
			body: 'countdown=' + encodeURIComponent(countdownValue)+
			'&lrate=' + encodeURIComponent(lrateValue)+
			'&dfactor=' + encodeURIComponent(dfactorValue)
			 })
        .then(response => response.json())
        .then(data => {
          console.log(data);
          fetchData();
        });
    });
  
    document.getElementById('stopButton').addEventListener('click', function() {
      fetch('/stop', { method: 'POST' })
        .then(response => response.json())
        .then(data => {
          console.log('Success:',data);
          fetchData();
        });
    });
  
    function fetchData() {
      fetch('/data')
        .then(response => response.json())
        .then(data => {
          document.getElementById('robotData').textContent = data.data;
        });
    }
    
    function submitForm() { <!-- Isn't being used anymore, function is instead called via eventListener above
		var countdownValue = document.getElementById('countdown').value;
		var lrateValue = document.getElementById('lrate').value;
		var dfactorValue = document.getElementById('dfactor').value;


		fetch('http://localhost:5000/start', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/x-www-form-urlencoded'
			},
			body: 'countdown=' + encodeURIComponent(countdownValue)+
			'&lrate=' + encodeURIComponent(lrateValue)+
			'&dfactor=' + encodeURIComponent(dfactorValue)
		})
		.then(response => response.json())
		.then(data => {
			console.log('Success:', data);
			fetchData();
		})
		.catch((error) => {
			console.error('Error:', error);
		});
	}
	
	function updateTextField(newValue) {
            document.getElementById("rosTextField").value = newValue;
        }

        // Connect to the WebSocket server
        var ws = new WebSocket("ws://localhost:5000/ws");

        ws.onmessage = function(event) {
            updateTextField(event.data);
        };
    
  </script>

{% endblock %}
