<launch>

    <!-- Node 1 -->
    <node name="Monitor_node" pkg="crawler_controller" type="monitor.py" output="screen">
        <!-- Any ROS parameters for node 1 -->
    </node>
    
    <!-- Node 2 -->
    <node name="App_node" pkg="crawler_controller" type="app.py" output="screen">
        <!-- Any ROS parameters for node 1 -->
    </node>

    
 
</launch>
