<launch>
    <!-- Node 1 -->
    <node name="Joystick_node" pkg="joy" type="joy_node" output="screen">
        <!-- Any ROS parameters for node 1 -->
    </node>
    
    <!-- Node 2 -->
    <node name="Motoren_node" pkg="crawler_controller" type="MD.py" output="screen">
        <!-- Any ROS parameters for node 2 -->
    </node>
    
        <!-- Node 3 -->
    <node name="Sensoren_node" pkg="crawler_controller" type="SD.py" output="screen">
        <!-- Any ROS parameters for node 2 -->
    </node>
    
 
</launch>

