<launch>
    <!-- Node 1 -->
    <node name="Sensoren_node" pkg="crawler_controller" type="encoder_left.py" output="screen">
        <!-- Any ROS parameters for node 1 -->
    </node>
    
    <!-- Node 2 -->
    <node name="Q_Learning" pkg="crawler_controller" type="q_learning_3x3.py" output="screen">
        <!-- Any ROS parameters for node 2 -->
    </node>
    

    
 
</launch>

